GEMINI_API_KEY=YOUR_GEMINI_API_KEY
PORT=3000

# Firebase configuration env variables
FIREBASE_API_KEY=AIzaSyBcYix_UiS18nFhFarwB9XBDdWpvFuEBcI
FIREBASE_AUTH_DOMAIN=backend-test-37ee8.firebaseapp.com
FIREBASE_PROJECT_ID=backend-test-37ee8
FIREBASE_STORAGE_BUCKET=backend-test-37ee8.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=136547802953
FIREBASE_APP_ID=1:136547802953:web:e21950c78c22fc71a14498
